{% extends 'dragonboard-410c.jinja2' %}

{% set hard_reset_command = '/usr/local/bin/dragonboard-ftdi.sh DAZ0JVTE reset-fastboot' %}
{% set power_off_command = '/usr/local/bin/dragonboard-ftdi.sh DAZ0JVTE off' %}
{% set power_on_command = '/usr/local/bin/dragonboard-ftdi.sh DAZ0JVTE on' %}
{% set pre_os_command = '/usr/local/bin/dragonboard-ftdi.sh DAZ0JVTE reset' %}
{% set pre_power_command= 'sleep 0' %}
#{% set fastboot_serial_number = 'fe42d20' %}
{% set fastboot_serial_number = 'a1683d40' %}
{% set connection_command = 'telnet 127.0.0.1 63001' %}
